<launch>

<arg name="frequency" value="25"/>
<arg name="openpose" default="true"/>
<arg name="kalman" default="false"/>
<arg name="cam_type" default="realsense"/>
<arg name="use_sim_time" default="false"/>

<!-- Depth extraction node --> <!-- maybe not neccessary if using OpenPose -->
<node name="depth_extraction_node" ns="hpe3d" pkg="hpe_ros_package" type="hpe_3d.py" args="$(arg frequency) $(arg openpose) $(arg cam_type) $(arg use_sim_time)" output="screen" />

<!-- Run kalman -->
<group if="$(arg kalman)">
    <node name="kalman_filter" ns="kalman" pkg="hpe_ros_package" type="kalman.py" args="$(arg frequency)" output="screen" />
</group>

</launch>
