<launch>

<arg name="frequency" value="20"/>
<arg name="depth_cam" value="false"/>

<!-- Depth extraction node --> <!-- maybe not neccessary if using OpenPose -->
<node name="depth_extraction_node" pkg="hpe_ros_package" type="hpe_3d.py" args="$(arg frequency)" output="screen" />

<!-- Transform HPE to ARM CMD -->
<node name="hpe_to_cmd_node" pkg="hpe_ros_package" type="hpe_to_arm_cmd.py" args="$(arg frequency)" output="screen" />

<!-- Transform HPE to UAV CMD -->
<!--node name="hpe_to_cmd_node" pkg="hpe_ros_package" type="hpe_to_uav_cmd.py" args="$(arg frequency)" output="screen"/-->

</launch>
