<launch>

    <arg name="frequency" value="25"/>
    <arg name="bag_path" value="/home/developer/catkin_ws/src/hpe_ros_package/scripts"/>
    <arg name="bag_name" value="first_box_touching_experiment.bag"/>
    <param name="/use_sim_time" value="true" />
    <!-- play rosbag containing extracted 3d pose of the body --> <!--output="screen" /-->

    <!--node pkg="rosbag" type="play" name="player" output="screen" args="clock /$(arg bag_path)/$(arg bag_name)"/-->
    <node pkg="rosbag" type="play" name="player" args="--clock /$(arg bag_path)/$(arg bag_name)"/> <!--output="screen"-->
    
    <!-- Run kalman -->
    <node name="kalman_filter" pkg="hpe_ros_package" type="kalman.py" args="$(arg frequency)" output="screen" />

</launch>
