<launch>

<arg name="frequency" value="30"/>
<arg name="video_dev" value="/dev/video0"/>
<arg name="model_path" value="/home/developer/catkin_ws/src/hpe_ros_package/src/models/pose_resnet_152_384x384.pth.tar"/>
<arg name="depth_cam" value="false"/>
    
<!-- config files for each backbone model are located into experiments folder !-->
<arg name="config_file" value="/home/developer/catkin_ws/src/hpe_ros_package/src/experiments/mpii/resnet152/384x384_d256x3_adam_lr1e-3.yaml"/>

<!-- ASUS Xtion camera -->
<include file="$(find openni2_launch)/launch/openni2.launch"/>

<!-- HPE node -->
<node name="hpe_simplebaselines_node" pkg="hpe_ros_package" type="hpe_ros_inference.py" args="--frequency $(arg frequency) --cfg $(arg config_file) --model-file $(arg model_path) --use-depth $(arg depth_cam)" output="screen"/>

<!-- Depth extraction node -->
<node name="depth_extraction_node" pkg="hpe_ros_package" type="hpe_depth_extraction.py" args="$(arg frequency)" output="screen" />


</launch>
