<launch>
    <arg name="frequency" value="5"/>
    <arg name="model_path" value="/home/developer/catkin_ws/src/hpe/src/models/pose_resnet_50_384x384.pth.tar"/>
    <arg name="config_file" value="/home/developer/catkin_ws/src/hpe/src/experiments/mpii/resnet50/384x384_d256x3_adam_lr1e-3.yaml"/>
    
    <node name="hpe_simplebaselines_node" pkg="hpe" type="hpe_ros_inference.py" args="--frequency 20 --cfg $(arg config_file) --model-file $(arg model_path) " />
    
    <node name="usb_camera" pkg="usb_cam" type="usb_cam_node" launch-prefix="bash -c 'sleep 5; $0 $@'"/>

</launch>

